@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* @custom-variant dark (&:is(.dark *)); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    cursor: none;
}

html,
body {
    cursor: none;
    background-color: #101010;
}
@font-face {
    font-family: BoldFace;
    src: url('../public/Boldonse-Regular.ttf') format('truetype');
}
@font-face {
    font-family: oswald;
    src: url('../public/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: space;
    src: url('../public/SpaceGrotesk-VariableFont_wght.ttf') format("truetype");
}
.special:hover {
    color:transparent;
    -webkit-text-stroke:1px #8466f3;
    transition: all 0.3s ease;
}

