* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
} 
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 14vw;
}
#page1 h1 {
    margin-left: 2vw;
    letter-spacing: -0.6vw;
    font-family: Futura-Bold, sans-serif;
    font-size: 16vw;
    font-weight: 500;
    line-height: 13vw;
    text-transform: uppercase;
}
